* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0B0B0E;
}

.Header {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 14px 200px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #003004;
    background: #0B0B0E;
    margin-bottom: 112px;
}

.Navigation {
    display: flex;
    width: 1040px;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.MenuBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.MenuBar p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}


.Carding {
    display: flex;
    width: 1040px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.FirstColumnDiv {
    display: flex;
    width: 564px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    margin-bottom: 112px;
}

.FButtonsDiiiv {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

#Orange {
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: #FF371A;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border: none;
}

#Black {
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid #2F2C33;
    background: #0B0B0E;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.FirstColumnDiv h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.FirstColumnDiv p {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.gapp {
    display: flex;
    align-items: center;
    gap: 32px;
}

.Conteiner {
    display: flex;
    width: 1040px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
    margin-bottom: 112px;

}

.HeaderTitle h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.FRowDiv {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.RowDivFirstColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 508px;
    flex: 1 0 0;
    align-self: stretch;


}

.AgentsDiv {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    background: #191919;
}

.AgentsDiv h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.AgentsDiv p {
    color: #797979;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.RowesDiv {
    display: flex;
    height: 178px;
    padding: 16px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    background: #191919;
}

.ApiDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.ApiDiv h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.ApiDiv {
    color: #797979;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.RowesDivv {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 12px;
    background: #191919;
}

.ContactColumnDiv {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 12px;
    background: #191919;
}

.SmartDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.SmartDiv h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.SmartDiv p {
    color: #797979;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.WallOfLoveDiv {
    display: flex;
    width: 1040px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
    margin-bottom: 112px;
}

.HearDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.HearDiv h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.HearDiv p {
    color: #7A7A7A;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.AllStars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.FlexingDiv {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.SienaConteiner {
    display: flex;
    width: 508px;
    min-width: 360px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 12px;
    background: #191919;
}

.classGapp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.classGapp p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.AvatarDiv {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.AvatarCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.VerifiedDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.AvatarCol span {
    color: #535862;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.AvatarCol p {
    color: #535862;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.Thinkingdiv {
    display: flex;
    width: 1040px;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #191919;
    margin: 0 auto;
    margin-bottom: 112px;
}

.StillTitleDIv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.StillTitleDIv h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.StillTitleDIv p {
    color: #7A7A7A;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.EmailFlex {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    margin: 0 auto;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    flex: 1 0 0;
}

.TextEmail {
    display: flex;
    padding: 12px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #7A7A7A;
    background: #0B0B0E;
    flex: 1 0 0;
    width: 304px;
}

.TextEmail p {
    color: #717680;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.Wrapper p {
    color: #7A7A7A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.Wrapper span {
    color: #7A7A7A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
}

.SubscribeDiv button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #FF371A;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border: none;

}

.CostumizeDiv {
    display: flex;
    width: 1040px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    margin-bottom: 125px;
}

.WorkRowDiv {
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.WorkRowDiv h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 485px;
}

.WorkRowDiv p {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 144.523%;
}

.BuyNowRowDiv {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.AlmostFooterDiv {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.LogoColumnDiv {
    display: flex;
    width: 320px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.LogoColumnDiv p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 320px;
}

.MainFooterRowDiv {
    display: flex;
    min-width: 800px;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.ProductColDiv {
    display: flex;
    width: 176px;
    min-width: 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.OverviewDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.ProductColDiv h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.OverviewDiv p {
    color: #535862;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.BadgeRow {
    display: flex;
    gap: 8px;
    align-items: center;
}



.LastFooter {
    display: flex;
    padding-bottom: 32px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    width: 1040px;
    margin: 0 auto;
}

.LastFooter p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.Images {
    display: flex;
    align-items: center;
    gap: 24px;
}